@import "defaults.scss";
@import "colors.scss";

body {
  background-image: $bg-color;
  color: $font-color;
}

.gallery {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .photo-card {
    width: 300px;
    height: fit-content;
    max-height: 330px;
    padding: 1rem;
    margin: 1rem;
    // background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 1px solid $light-shine;
    box-shadow: 0px 5px 10px rgba(7, 6, 6, 0.6);

    img {
      width: 100%;
    }

    p {
      margin-top: 0.6rem;
      text-align: center;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  // animation: showBackDrop 0.3s ease-out;
  transition: all 0.3s;
}

.modal {
  width: 70%;
  background-color: #fff;
  justify-self: center;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;

  img {
    width: 100%;
    height: fit-content;
  }
}
